<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>A plant in your browser</title>
	</head>
	<body id="logout" onload="">
		
		Bye bye <%= @username%>
		
		<div id="disclaimer">
			2012 - All rights reserverd by Camilla Cali and Francesco Pischedda
		</div>
	
	</body>
</html>